@font-face {
    font-family: 'Roboto-Slab';
    src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
    font-weight: 700;
}